@media screen and (max-width: 575px) {
	#menu {
		align-items: center;
      flex-direction: column;
      background-color: green;
	}
	.backMenu{
		background-color: blue;
	}
	hr{
		padding: 0;
		margin: 0;
		margin-top: 110px;
		height: 3px;
	}
	li{
		padding: 5px;
	}
	/*.text{
		align-items: center;
		min-width: 200px;
		margin-right: 10px;
		margin-left: 10px;*/
	
}

@media screen and (max-width: 800px){
#menu{
	background-color: #14e7f1;
}

.text{
		justify-content: center;
		margin-right: 10px;
		margin-left: 10px;
		}
	}